.contact-container {
    margin: 100px 160px;
    padding: 50px;
    background-color: #1C1C1C;
    box-shadow: -3px 3px black;
    border-radius: 15px;
    transition: transform .3s;
    color: white;
}

.contact-container:hover {
    transform: scale(1.05);
}