.skills-container {
    margin: 100px 160px;
    padding: 50px;
    background-color: rgba(138, 155, 127, 0.5);
    box-shadow: -1px 1px grey;
    border-radius: 15px;
    transition: transform .3s;
}

.skills-container:hover {
    transform: scale(1.05);
}